<div class="container">

  <div class="d-flex justify-content-between">
    <div class="mr-auto">
      <h1>Productos</h1>
    </div>
    <div class="d-flex align-items-center">
      <select class="form-select me-2" name="orderBy" id="orderBy">
        <option value="title-asc" {{#if (isEqual orderBy "title-asc")}}selected{{/if}}>Nombre (A-Z)</option>
        <option value="title-desc" {{#if (isEqual orderBy "title-desc")}}selected{{/if}}>Nombre (Z-A)</option>
        <option value="price-asc" {{#if (isEqual orderBy "price-asc")}}selected{{/if}}>Precio (Menor a Mayor)</option>
        <option value="price-desc" {{#if (isEqual orderBy "price-desc")}}selected{{/if}}>Precio (Mayor a Menor)</option>
      </select>
      </select>
      <a href="/products/agregar" class="btn btn-dark">Agregar</a>
    </div>
  </div>

  <!-- Product list -->

  <div class="row p-2">
    {{#if products.length}}
      {{#each products}}
        <div class="col-12 col-md-3">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">{{title}}</h5>
              <small>{{category}}</small>
              {{#if stock}}
                <p class="card-text text-success">${{price}}</p>
                <a href="/products/{{_id}}" class="btn btn-primary">Comprar</a>
              {{else}}
                <p class="card-text text-danger">No disponible</p>
              {{/if}}
            </div>
          </div>
        </div>
      {{/each}}
    {{else}}
      <div class="col-12">
        <div class="alert alert-warning">
          <p>No hay productos</p>
        </div>
      </div>
    {{/if}}
  </div>
</div>

<script src="../js/products.js"></script>